@model IEnumerable<DataLayer.TSTOrder>

@{
    ViewBag.Title = "Orders";
}



<div class="box" style="overflow-x:auto;">
    <h2 class="headingHeader text-center">Orders</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TroubleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FinshedDate)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TSTEmployee.FName)*@
                Supervisor
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TSTEmployee1.FName)*@
                Printer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSTOrderPriority.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSTOrderStatus.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSTOrderType.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TroubleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FinshedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSTEmployee.FName)
                    @Html.DisplayFor(modelItem => item.TSTEmployee.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSTEmployee1.FName)
                    @Html.DisplayFor(modelItem => item.TSTEmployee1.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSTOrderPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSTOrderStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSTOrderType.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TicketID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TicketID })
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Create Order", "Create", null, new { @class="btn btn-success"})
    @Html.ActionLink("Order Statuses", "Index", "TSTOrderStatus", new { @class="btn btn-primary"   })
    @Html.ActionLink("Order Priorities", "Index", "TSTOrderPriorities", new { @class = "btn btn-danger" })
</div>