@model IEnumerable<DataLayer.TSTEmployee>

@{
    ViewBag.Title = "Inactive Employees";
}
<div class="box">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <p>
        @Html.ActionLink("Show Active Employees", "Index", "TSTEmployees")
    </p>

    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    Employee
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LName),
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Re-Hire", "Delete", new { id = item.EmployeeID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@Html.ActionLink("Add An Employee", "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Employee Statuses", "Index", "TSTEmployeeStatus", new { @class = "btn btn-primary" })*@

</div>
@section scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}