<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Represent Printing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Seaweed+Script" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" type="text/css"/>
    <link rel="icon" image="image/png" href="~/Content/img/icon.ico" />
</head>
<body>
    <div class="brand fadeInAmate" style="font-family: 'Seaweed Script', cursive;">Represent Printing</div>
    @*<div class="address-bar" style="font-family:'Caflisch Script Pro'">Specializing In Screen Printing And Embroidery</div>*@

    

    <nav class="navbar navbar-default fadeInAmate" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Represent Printing</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","TSTOrders")">Orders</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","TSTPortfolioImages")">Portfolio</a>
                    </li>
                    
                    
                    

                    @if (User.IsInRole("Owner")|| User.IsInRole("HR"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Employee Information
                                <span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Departments")">Departments</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","TSTEmployees")">Employees</a>
                                    </li>
                                </ul>
                            </a>
                        </li>


                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Contact","Home")">Contact</a>
                        </li>
                        <li>
                            <a href="~/Content/Project/Documentation.pdf" target="_blank">Documentation</a>
                        </li>
                    }


                    @if (Request.IsAuthenticated && User.IsInRole("Owner") || User.IsInRole("HR"))
                    {

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Admin Controls
                                <span class="caret"></span>
                                <ul class="dropdown-menu">

                                    @if (Request.IsAuthenticated && User.IsInRole("Owner"))
                                    {
                                        <li>
                                            @Html.ActionLink("Roles", "Index", "RolesAdmin")
                                        </li>
                                    }
                                    
                                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                                </ul>
                            </a>
                        </li>
                        

                    }
                    @*<li>
                            <a href="@Url.Action("Index","TSTEmployeeStatus")">Employee Status</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","TSTOrderPriorities")">Order Priorities</a>
                        </li>*@
                    @Html.Partial("_LoginPartial")



                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container body-content fadeInAmate">
        @RenderBody()
        
        <footer>
            &copy; @DateTime.Now.Year - Tyler Truitt Web Design

        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <!--jQuery-ui-->

    <!--If the User is logged in as an admin, then no jQuery fade will occur.-->
    @if (User.IsInRole("Owner"))
    {


    }
    else
    {
        <script src="~/Content/fadeelementplugin/src/jquery.fadeInAmate.js"></script>
    }


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    
    <script>
       
        $(".fadeInAmate").fadeInAmate({
            initialDelay: 250,
            fadeInSpeed: 900,
            animationDelay: 300,
            bounce: true

        });
        $(function () {
            $("#HireDate, #SeparationDate, #StartDate, #FinshedDate").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1742:2025"
            });
        });
    </script>
</body>
</html>
