@model IEnumerable<DataLayer.TSTOrder>

@{
    ViewBag.Title = "Completed Orders";
}




<style>
    /*Small Data*/
    .smallData {
        width: 205px; /*width of the container*/
        float: left; /*this is what creates the tiling effect*/
        text-align: center;
        border: 2px solid #3D3D3D;
        border-radius: 1em; /*Rounded Corners*/
        padding: .75em; /*push content inside off of the rounded corner*/
        box-shadow: 2px 2px #3D3D3D;
        /*must define the height or they will not tile correctly - Use the inspector
    to find the height of your tallest data and use that height.*/
        height: 330px;
        /*margin is the space between. Remember these are tiled so .5em around EACH
    structure is 1em (.5em on the right of one div + .5em on the left of the next,
    same for top and bottom.)*/
        margin: .5em .5em;
        /*background-color: rgba(49, 112, 143, 0.37);*/
        color: #060505;
    }

    /*buttons in their on div at the bottom of the structure.*/
    .smallDataFooterLeft {
        float: left;
        text-align: left;
        width: 49%;
        margin-bottom: 1em;
    }

    .smallDataFooterRight {
        margin-left: 50%;
        text-align: right;
        margin-bottom: 1em;
    }

    .smallDataContent {
        min-height: 150px;
    }
</style>
<div class="box">
    <h2 class="text-center">@ViewBag.Title</h2>
        @if (User.IsInRole("Owner") || User.IsInRole("Manager") || User.IsInRole("Employee"))
        {
            
            
            <p class="firstLink">
                <a href="@Url.Action("AssignedOrders","TSTOrders")">Assigned Orders</a>
            </p>
            
            <p class="firstLink" style="margin-left:30%;">
                <a href="@Url.Action("Index","TSTOrders")">Received Orders</a>
            </p>
            <p class="secondLink">
                <a href="@Url.Action("Create","TSTOrders")">Add An Order</a>
            </p>


        }

    <div class="clear"></div>
    @foreach (var item in Model)
    {
        //#region color-coding the background back on priority
        //var backgroundcolor = "rgba(252, 8, 8, 0.68)";
        //if (item.PriorityID == 3)
        //{
        //    backgroundcolor = "rgba(252, 8, 8, 0.68)";
        //}
        //else if (item.PriorityID == 2)
        //{
        //    backgroundcolor = "rgba(49, 129, 233, 0.4)";
        //}
        //else if (item.PriorityID == 1)
        //{
        //    backgroundcolor = "rgba(79, 100, 103, 0.50)";
        //}
        //else
        //{
        //    backgroundcolor = "rgba(57, 255, 80, 0.7);";
        //}
        //#endregion
        <div class="smallData col-lg-4" style="background-color:rgba(79, 100, 103, 0.50)">
            <div class="smallDataContent">
                @if (User.IsInRole("Owner") || User.IsInRole("Manager"))
                {
                    @Html.DisplayNameFor(model => model.TSTOrderPriority.Name) @Html.DisplayFor(modelItem => item.TSTOrderPriority.Name)<br />
                }
                <img src="@Url.Content("~/Content/img/OrderImages/"
                         + item.Picture)" alt="" width="100" height="100" style="border-radius:50%;" /><br />
                @Html.DisplayFor(modelItem => item.TroubleDescription)<br /><br />
                Received On:
                <strong>@Html.DisplayFor(modelItem => item.StartDate)</strong><br />
                @Html.DisplayNameFor(model => model.FinshedDate):
                <strong>@Html.DisplayFor(modelItem => item.FinshedDate)</strong><br />
                @Html.DisplayNameFor(model => model.Quantity):@Html.DisplayFor(modelItem => item.Quantity)<br />
                @Html.DisplayFor(modelItem => item.TSTOrderType.Name)<br />







            </div>
            <div class="smallDataFooterLeft">@Html.ActionLink("Details", "Details", new { id = item.TicketID })</div>
            @if (User.IsInRole("Owner") || User.IsInRole("Manager"))
            {
                
                <div class="smallDataFooterRight">
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketID })<br />
                </div>
            }
            

        </div>

    }
    <div class="clearfix"></div>
    @if (User.IsInRole("Owner") || User.IsInRole("Manager"))
    {
        <p>
            @Html.ActionLink("Archived Orders", "InActiveOrders", "TSTOrders")
        </p>
    }



</div>